.category-input .select-kit.combo-box .select-kit-collection {
    flex-wrap: wrap !important;
}

#topic-title .edit-tags__wrapper .select-kit.is-expanded .select-kit-body,
div.composer-fields .tags-input .select-kit.is-expanded .select-kit-body {
    max-width: 85% !important;
    padding: 5px 15px 15px !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
}

#topic-title .edit-tags__wrapper .select-kit .select-kit-collection,
div.composer-fields .tags-input .select-kit .select-kit-collection {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
}

#topic-title .edit-tags__wrapper .select-kit .select-kit-row,
div.composer-fields .tags-input .select-kit .select-kit-row {
    padding: .1em .5em !important;
}

/* div.composer-fields .tags-input .select-kit-header--filter, */
#topic-title .edit-tags__wrapper .select-kit-header--filter {
    flex-wrap: wrap !important;
}

.select-kit .select-kit-header,
.select-kit.multi-select .multi-select-header .formatted-selection {
    white-space: normal !important;
}
