/* HORIZONTAL COMPOSER TAG SELECT */

.composer-fields .tags-input .select-kit-body {
    height: auto !important;
    max-height: unset !important;
    min-height: 1px !important;
    justify-content: flex-start !important;
    margin-left: -1.25em !important;
    width: calc(100vw - .75em - (var(--d-wrap-padding-x) * 2) - (var(--topic-body-width-padding) * 2)) !important;
    max-width: calc(100vw - .75em - (var(--d-wrap-padding-x) * 2) - (var(--topic-body-width-padding) * 2)) !important;
    padding: .5em !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    background-color: #f7f4f4 !important;
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0nMTAwJScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48ZGVmcz48ZmlsdGVyIGlkPSdhJz48ZmVUdXJidWxlbmNlIHR5cGU9J2ZyYWN0YWxOb2lzZScgYmFzZUZyZXF1ZW5jeT0nLjQnLz48L2ZpbHRlcj48L2RlZnM+PCEtLSA8cGF0aCBmaWx0ZXI9J3VybCgjYSknIG9wYWNpdHk9Jy4zJyBkPSdNMCAwaDEyMDB2MjU2SDB6Jy8+LS0+PHJlY3QgZmlsdGVyPSd1cmwoI2EpJyBvcGFjaXR5PScuMycgd2lkdGg9JzEwMCUnIGhlaWdodD0nMTAwJScvPjwvc3ZnPg==);
}
.composer-fields .tags-input .select-kit-collection  {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
    flex-grow: 1;
    min-height: 0;
    overflow-x: auto !important;
    overflow-y: auto !important;
    background-color: #fff !important;
}
.composer-fields .tags-input .select-kit-row {
    padding: .1em .5em !important;
}
